/* General Styling */
.homepage {
  width: 100%;
  height: 200vh; /* Makes the page scrollable */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section Styling */
.section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
  font-size: 2rem;
}

/* Wooden Section */
.wooden {
  background: url("./Assets/cookery3.jpg") no-repeat center center/cover;
}

/* Bakery Section */
.bakery {
  background: url("./Assets/cookery4.jpg") no-repeat center center/cover;
}

/* Bakery Title Animation */
.section-title {
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  font-family: "Comic Sans MS", cursive;
  color: #d5b78e;
}

.wooden .section-title{
  background-color: rgba(32, 28, 26, 0.6);
}

/* Only apply slide-in effect to Bakery */
.bakery .section-title {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  text-align: right;
}

.bakery .slide-in {
  opacity: 1;
  transform: translateY(0);
}

/* Description Styling */
.description {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  background-color: rgba(32, 28, 26, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
  color: #d5b78e;
  font-family: "Courier New", monospace;
}

/* Search Button (inside Bakery) */
.search-button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.5rem;
  color: white;
  background: rgba(32, 28, 26, 0.6);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Courier New", monospace;
}

.search-button:hover {
  background: #333;
}
